.career {
    position: absolute;
    top: 26vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.container {
    width: 80vw;
    margin-top: 5vh;
}