.landing {
    position: absolute;
    top: 8vh;
    left: 0;
    height: 18vh;
    width: 100vw;
    background: rgb(106,159,181);
    background: linear-gradient(166deg, rgba(106,159,181,1) 29%, rgba(255,215,0,1) 94%);
    text-align:center;
}

.icons {
    font-size: 1.1em;
    text-decoration: none;
}

.career {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: -18em;
    font-size: 4em;
    font-weight: 300;
}

.tag {
    margin-top: 0em;
    margin-left: 18em;
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
}

.down {
    position: fixed;
    bottom: 1vh;
    font-size: 7em;
    color: rgba(106,159,181,0.75);
}