.nav {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: calc(-50vw + 50%);
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6a9fb5;
    position: sticky;
    top: 0;
}

.nav a{
    text-decoration: none;
}

.container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    height: 3.5em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1em;

}

.navLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.names {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.name {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.home {
    font-size: 1.65em;
    padding-right: 0.25em;
}
.interests, .projects, .career, .more {
    background-color: transparent;
    font-size: 1em;
}

.interests {
    margin-right: 1em;
}

.projects, .career {
    margin-left: 1em;
    margin-right: 1em;
}

.more {
    margin-left: 1em;
}

.icons {
    font-size: 1.65em;
}