---
layout: default
title: Wyatt Walsh's Personal Website | Home
description: Site welcome, contents, and favorite media | About, Blog, Data Science, Open-Source, Music, Spotify, Photography, Flickr, Twitter Feed
---
<div style='
    background-color:#f6edf3;
    margin: 10px 0px;
    padding:12px;
    /*border:0.1px dashed black;*/
'>
<p>
&#128075; Hey, welcome to my personal website!
<br><br>
Interested in learning more about me? <br> &mdash; Check out the <b>About</b> section in the menu to the left. 
<br> <br>
Think you might want to read some of my writings? <br> &mdash; Then the <b>Blog</b> section is for you!
<br><br>
Want to learn about <i>Data Science</i> or make an open-source contribution? <br> &mdash; <b>Notes on Data Science</b> will help you in this case.
<br><br>
Thanks for stopping by! 😊 
</p>
</div>
<!-- </div> -->
<div>

<hr style='
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
'
/>

<h3 align='center' style="color:#6a9fb5"> ~ While You Are Here, Enjoy Some of My Favorite Media ~ </h3>

<hr style='
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
'
/>

<div>
<h3 align='center'> <u>Musical Selections</u> </h3>
<iframe src="https://open.spotify.com/embed/playlist/6qGtek2SFWUYgB6eSD8w0N" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>

<hr style='
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
'
/>

<div>
<h3 align='center'> <u>Some Attempts at Photography</u> </h3>
<a data-flickr-embed="true" data-footer="true" href="https://www.flickr.com/photos/191694282@N03/albums/72157717796355516" title="Cool Photos"><img src="https://live.staticflickr.com/65535/50815480558_49fcaf8f67_h.jpg" width="100%" alt="Cool Photos"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>

<hr style='
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
'
/>

<div>
<a class="twitter-timeline" data-theme="light" href="https://twitter.com/wyattowalsh?ref_src=twsrc%5Etfw"><u>Tweets by wyattowalsh</u></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title"> 
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->