.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.particle {
    position: fixed;
    z-index: -1;
}

.container h1 {
    font-size: 500%;
    font-weight: 700;
}