/* The navbar container */
.topnav {
    background-color: black;
    width:100%;
    display:block;
    overflow:hidden;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
   	padding: 14px 16px;
    text-decoration: none;
}

.links a {
	float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.links a:hover {
    background-color: #ddd;
    color: black;
}
/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}