:root {
  --background: 198 100% 95%;
  --foreground: 198 5% 0%;
  --card: 198 50% 90%;
  --card-foreground: 198 5% 10%;
  --popover: 198 100% 95%;
  --popover-foreground: 198 100% 0%;
  --primary: 198 33.6% 56.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 198 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 160 30% 85%;
  --muted-foreground: 198 5% 35%;
  --accent: 160 30% 80%;
  --accent-foreground: 198 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 198 5% 90%;
  --border: 198 30% 50%;
  --input: 198 30% 18%;
  --ring: 198 33.6% 56.3%;
  --radius: 0.5rem;
  --primary-color: #6a9fb5;
  --font-fira-code: 'Fira Code';
  --font-sans: 'ui-sans-serif', 'system-ui';
  --font-serif: 'ui-serif', 'Georgia';
  --font-mono: 'ui-monospace', 'SFMono-Regular';
  --font-display: 'Oswald';
  --font-body: '"Open Sans"';
}

.dark {
  --background: 198 50% 5%;
  --foreground: 198 5% 90%;
  --card: 198 50% 0%;
  --card-foreground: 198 5% 90%;
  --popover: 198 50% 5%;
  --popover-foreground: 198 5% 90%;
  --primary: 198 33.6% 56.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 198 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 160 30% 15%;
  --muted-foreground: 198 5% 60%;
  --accent: 160 30% 15%;
  --accent-foreground: 198 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 198 5% 90%;
  --border: 198 30% 18%;
  --input: 198 30% 18%;
  --ring: 198 33.6% 56.3%;
  --radius: 0.5rem;
}
