// variables.module.scss

// Base Gradients
$landing-title-gradient-light: linear-gradient(135deg, #0ea5e9 0%, #6366f1 25%, #8b5cf6 50%, #ec4899 75%, #0ea5e9 100%);
$landing-title-gradient-dark: linear-gradient(135deg, #38bdf8 0%, #818cf8 25%, #a78bfa 50%, #f472b6 75%, #38bdf8 100%);
$gradient-heading-light: linear-gradient(90deg, #2563eb 0%, #7c3aed 50%, #ec4899 100%);
$gradient-heading-dark: linear-gradient(90deg, #38bdf8 0%, #818cf8 50%, #f472b6 100%);

// Fonts
$font-sans: 'Montserrat', sans-serif;
$font-code: 'Fira Code', monospace;

@mixin light {
  --primary-rgb: 59, 130, 246;
  --primary: rgb(var(--primary-rgb));
  --background: hsl(198 100% 95%);
  --foreground: hsl(198 5% 0%);
  --primary-light: hsl(198, 33.6%, 66.3%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(198 30% 70%);
  --secondary-foreground: hsl(0, 0%, 0%);
  --accent: hsl(160, 30%, 80%);
  --accent-rgb: 183, 224, 209;
  --accent-foreground: hsl(198, 5%, 10%);
  --destructive: hsl(0, 100%, 30%);
  --destructive-foreground: hsl(198, 5%, 90%);
  --border: hsl(198 30% 50%);
  --input: hsl(198 30% 18%);
  --ring: hsl(198 33.6% 56.3%);
  --radius: 0.5rem;

  --card: hsl(198 50% 90%);
  --card-foreground: hsl(198 5% 10%);
  --popover: hsl(198, 100%, 95%);
  --popover-foreground: hsl(198, 100%, 0%);
  --muted: hsl(160 30% 85%);
  --muted-foreground: hsl(198 5% 35%);
  
  --landing-title-gradient-light: #{$landing-title-gradient-light};
  --gradient-heading-light: #{$gradient-heading-light};
}

@mixin dark {
  --primary-rgb: 129, 140, 248;
  --primary: rgb(var(--primary-rgb));
  --background: hsl(198 5% 5%);
  --foreground: hsl(198 100% 90%);
  --primary-light: hsl(198, 33.6%, 46.3%);
  --primary-foreground: hsl(0, 0%, 0%);
  --secondary: hsl(198 30% 30%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --accent: hsl(160, 30%, 20%);
  --accent-rgb: 36, 82, 69;
  --accent-foreground: hsl(198, 5%, 90%);
  --destructive: hsl(0, 100%, 70%);
  --destructive-foreground: hsl(198, 5%, 10%);
  --border: hsl(198 30% 50%);
  --input: hsl(198 30% 82%);
  --ring: hsl(198 33.6% 46.3%);
  --radius: 0.5rem;

  --card: hsl(198 50% 10%);
  --card-foreground: hsl(198 5% 90%);
  --popover: hsl(198, 100%, 5%);
  --popover-foreground: hsl(198, 100%, 100%);
  --muted: hsl(160 30% 15%);
  --muted-foreground: hsl(198 5% 65%);

  --landing-title-gradient-dark: #{$landing-title-gradient-dark};
  --gradient-heading-dark: #{$gradient-heading-dark};
} 