.Header {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-left: 0.15rem double white;
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem double white;
}
.subTitle {
  padding-bottom: 1rem;
}

.kicker {
  text-transform: uppercase;
}

.info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.date {
  padding-right: 1rem;
  padding-left: 0;
}
.mediumUrl {
  padding-left: 1rem;
}
.headerRule {
  border-bottom-width: 0.3rem !important;
  border-color: rgba(233, 233, 233, 0.75) !important;
}
.fig {
}
.Image {
  width: 65%;
  position: relative !important;
}
