@import "styles/scss/abstracts/__abstracts-dir.scss";

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  // background-color: RGBA(231, 220, 209, 1);
  background-color: $myBrown;
  position: relative;
}

.avatar {
  margin-top: 1rem;
  position: relative;
  width: 8vh;
  height: 8vh;
}

.rule {
  background: transparent;
  border-bottom: 1px dashed #c3a7a4;
  width: 40%;
  margin: 1rem auto;
  &:before {
    top: 3px;
    left: 0;
    padding-right: 2em;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.3);
    background-color: $myGold;
    border-radius: 70%;
  }
}
