@import "styles/scss/abstracts/__abstracts-dir.scss";

.Navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
}

.toolbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.imageContainer {
  position: relative;
  width: 8vh;
  height: 8vh;
  margin-right: auto;
  &:hover {
    background: $myGold;
  }
  justify-content: flex-start;
  align-items: center;
}

.image {
  object-fit: contain;
}
.navButtons {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tabs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  align-self: center;
}
.tabs > div > div {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tab {
  font-weight: 800 !important;
  color: black !important;
  &:hover {
    background: $myGold;
  }
  font-size: clamp(0.35rem, 1.5vw, 2rem) !important;
}
.tab > svg {
  width: clamp(0.35rem, 2.75vw, 4rem) !important;
  height: auto;
  color: $myBlue;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: text;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
  align-items: center;
}

.linksButton {
  font-weight: 800 !important;
  padding: 1rem !important;
  margin: 0.1rem !important;
  border: 0.15rem solid $myBlue !important;
  &:hover {
    scale: 1.1;
    background: rgba($myGold, 0.35) !important;
  }
}
.linksButton > span > svg {
  width: clamp(0.35rem, 1.5vw, 4rem) !important;
  height: auto;
  color: $myBlue;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: text;
}
.linksIcon {
  &:hover {
    animation: wobble 1s infinite;
  }
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social {
  width: clamp(1.5rem, 2vw, 5rem);
  height: auto;
}

.drawerLink {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
