@import "styles/scss/abstracts/__abstracts-dir.scss";

.Navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
}

.toolbar {
    width: 85vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.imageContainer {
    position: relative;
    width: 8vh;
    height: 8vh;
    padding: 1vh;
    &:hover {
        background: $myBlue;
    }
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: auto;
    align-items: center;
}

.image {
    object-fit: contain;
}

.navButtons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    font-weight: 700;
    &.Mui-selected {
        background-color: $myBlue;
    }
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
}
